@import "tailwindcss";
/* @utility container{
    margin:auto
} */
 /* @theme{
    --breakpoint-sm:700px;
    --breakpoint-md:900px;
    --breakpoint-lg:1000px;
    --breakpoint-big:1300px;
    --padding-1:50px;
--padding-c-50:50px;
--padding-wrapper:10px;
--margin-20:20px;
--margin-c-50:20px;

--height-1:100px;
--width-1:500px;
 } */

 /* @tailwind base;
 @tailwind components; */
 @tailwind utilities;
 @layer components{
    .btn-primary{
        @apply  bg-blue-500 rounded p-4 hover:bg-red-700 transition duration-1000 hover:text-white
    }
 }